*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table{
    width: 500px;
    height: 500px;
    border: 2px solid black;
    margin: auto;
    background-image: url("cesped.jpg");
}

table td{
    min-width: 70px;
    height: 70px;
    text-align: center;
}

.ladrillo{
    background-image: url("ladrillo.jpg");
    font-size: 0;
}

.personaje{
    background-image: url("personaje.jpg");
}

.malo{
    background-image: url("malo.png");
}

.examenes{
    background-image: url("examenes.png");
    font-size: 0;
    background-repeat: no-repeat;
}

.flechas{
    width: 70px;
    height: 70px;
    border: 1px solid black;
    background-color: burlywood;
    visibility: hidden;
}

.flechas:hover{
    background-color: rgb(255, 197, 122);
}